.attribution {
  font-size: .75rem;
  text-align: center;
  background-color: hsl(201, 11%, 97%);
  color: var(--neutral-dark-grayish-blue);
  margin: 0;
  padding: 1rem;
  a {
    color: hsl(228, 45%, 44%);
  }
}
