@import '../abstract/utility';
@import '../abstract/media-queries';

.btn {
  @extend %common-width;
  background-color: var(--bg-color, transparent);
  border-radius: 2rem;
  box-shadow: 0 .25rem .25rem var(--box-shadow,transparent);
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  font-weight: 600;
  max-width: 19.5rem;
  display: block;
  margin-top: 1.5rem;

  &--green {
    --bg-color: var(--primary-strong-cyan);
    --box-shadow: var(--primary-strong-cyan-shadow);
  }
  &--blue {
    --bg-color: var(--primary-light-blue);
    --box-shadow: var(--primary-light-blue-shadow);
  }

  @include media-query($md-screen){
    margin-left: 0;
    margin-right: 0;
    width: fit-content;
    padding: 1rem 2.25rem;
    transition: opacity .5s;

    &:hover {
      opacity: .7;
    }
  }
}